<!-- alert -->
<div class="alert alert-warning" role="alert">
  <h4 class="text-warning">
    ICICI Bank Rubyyx Vise Credit Card
  </h4>
</div>

<!-- points container -->
<div class="container  d-flex justify-content-center mt-2 ">
   <div class="cashback mx-1 container bg-primary rounded ">
      <h3  class="text-white">
        $3000
      </h3>
      <h6 class="text-white">
        Total Cashback Earned
      </h6>
   </div>
   <div class="points mx-1 container bg-danger rounded">
      <h3  class="text-white">$3000</h3>
      <h6 class="text-white">
        Total Points Earned
      </h6>
   </div>
</div>

<!-- Product container -->
<div class="container d-flex justify-content-evenly flex-wrap mt-3 ">
  <div class="container">
    <h4 class="text-warning border-bottom w-25 m-auto">
      Products
    </h4>
  </div>
  <% for(p of product){ %>

  <div class="card h-25 my-3" style="width: 18rem;">
    <img class="card-img-top m-auto  my-1" src='<%= p.image %>' alt="Card image cap" style="height: 100px; width: 100px;">
    <div class="card-body">
      <h5 class="card-title mt-1">
        <%= p.title%>
        
      </h5>
      <p class="card-text  "  style="
      height: 7em;
      overflow: hidden;
      line-height: 22px;">
        <%= p.description %>
      </p>
     
                <a href="/product/claim/?id=<%= p.id %>&uid=<%= user%>" class="btn btn-warning">Claim offer</a>
                <a href="/product/claim/?id=<%= p.id %>&uid=<%= user%>" class="btn btn-outline-warning">Learn More</a>
    </div>
  </div>
  <% } %>
  <!-- <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="https://fakestoreapi.com/img/71-3HjGNDUL._AC_SY879._SX._UX._SY._UY_.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div> -->
  
</div>